@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  background-image: url('images/bg-desktop.svg');
  background-color: hsl(257, 40%, 49%);
  flex-direction: column;
  padding: 5em;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}
.right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 1.5em;
  font-size: 40px;
  font-weight: 600;
}
p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 16px;
}
button {
  padding: 1em 4em;
  font-size: 17px;
  color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50px;
}
button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
}
@media screen and (max-width: 500px) {
  body {
    padding: 2em;
    align-items: flex-start;
  }
  main {
    flex-direction: column;
  }
  main > img {
    width: 100%;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
  .right {
    align-items: center;
  }
}